
params {
    dbsnp = "/home/elisabetht/resources/gatk_bundle/Homo_sapiens_assembly38.dbsnp138/Homo_sapiens_assembly38.dbsnp138.vcf"
    whitelist = "/home/elisabetht/resources/whitelist/4M-with-alts-february-2016.txt"
    reference = "/home/elisabetht/resources/gatk_bundle/Homo_sapiens_assembly38/Homo_sapiens_assembly38.fasta"
    targets = "/home/elisabetht/resources/modified_BEDs/S07604514_Padded_noUTR_modified.bed"
    bcbins = 500
    outdir = "outs"
    snpeff_datadir = "/home/elisabetht/run_linkseq/main_HardFilter/snpeff_data"
}

process {
    executor = 'local'
    memory = '20GB'
    cpus = 4
}

executor {
    name = 'local'
    cpus = 40
    memory = '200GB'
    queueSize = 100
}

// Capture exit codes from upstream processes when piping.
process.shell = ['/bin/bash', '-euo', 'pipefail']
